body {
   padding:20px;
}
form {height: 495px;}
#main {
   border:1px dashed lightgray;
   margin-top:1em;
}
form a {margin-right:8px;}
#main a,#main span {float:left; margin: 5px 5px 0 0}
table td {
    min-width:65px;
    text-align: left;
    padding: 1px;
}
#reset {
   display:none;
   text-decoration: underline;
   color:blue;
   cursor: pointer;
   font-size: 150%;
}

input[type=submit] {
  padding: 5px 35px;
  font-size:18px;
  float:left;
}
.ok {
   color:green;font-weight:bold;   
}
.nieok {
   background-color:red;color:#fff;font-weight:bold;padding:2px;
}
.panel {float:left;}
.loader {background: gray;}

#wait { margin-left:5em;display:none;}